body {
    background-color: black;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.game-container {
    background: rgb(136, 207, 22);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}

input[type="number"] {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #d2e437;
    border: none;
    color: hsla(0, 0%, 4%, 0.911);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #f70707;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}
